<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <h5 class="my-0 mr-md-auto font-weight-normal">The Gossip Project</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/team">Team</a>
        <a class="p-2 text-dark" href="/contact">Contact</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      	<h1 class="display-4">The Gossip Project - User n° <%= @userx.id =%> </h1>
    </div>
	
	<div class="container">
    	<div class="card p-3 text-center">
	        <div class="card mb-4 shadow-sm">
	          	<div class="card-header">
		            <h4 class="my-0 font-weight-normal">Full Name: <strong><%= @userx.first_name + ' ' + @userx.last_name.upcase %></strong></h4>
		        </div>
		        <div class="card-body">
		           	<ul class="list-unstyled mt-3 mb-4">
		              	<li>Description: <%= @userx.description %></li>
		              	<li>Mailto: <%= @userx.email %></li>
		              	<li>City: <%= City.find(@userx.city_id).name %></li>
		              	<li>Zip_code: <%= City.find(@userx.city_id).zip_code %></li>
		              	<li>Age:  <%= @userx.age %></li>
		            </ul>
	          	</div>
	        </div>
    	</div>
	</div>
</body>